/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Lato:ital@0;1&display=swap');

html{
    scroll-behavior:smooth;
}
body{
    max-width: 1500px;
    font-family: 'Lato', sans-serif;
}
h1, h2, h3{
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Koulen', cursive;
}
#me-image,#medium-image{
    max-width: 200px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 180px;
    justify-self: center;
    align-self: center;
    padding: 30px 30px 20px;
    margin-top: 60px;
}
#medium-image{
    display: none;
}
h1, h2{
    text-align: center;
}
header{
    display: grid;
}
nav ul{
    display: none;
    grid-column: 1/3;
    padding: 0;
    margin-bottom: 0;
}
nav ul.open{
    display: flex;
    flex-direction: column;
}
header ul li{
    list-style: none;
    display: block;
    width: 100%;
    border-bottom: 1px solid #ACBDBA;
}
header ul li:nth-last-child(1){
    border-bottom: none;
}
header ul li a{
    color: black;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 10px;
    color: #ACBDBA;
    transition: text-shadow 0.2s, background-color 0.2s;
}
nav ul li a:hover{
    text-shadow: #ACBDBA 0 0 10px;
    background-color: #751314;
}
header button{
    width: 45px;
    height: 45px;
    float: right;
    margin: 5px 10px;
    grid-column: 2;
    grid-row: 1;
    justify-self: right;
    align-self: center;
    border: 3px solid #ACBDBA;
    border-radius: 5px;
    font-size: larger;
    color: #ACBDBA;
    font-weight: bold;
    background-color: transparent;
}
nav{
    background-color: #5A0001;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    width: 100%;
}
p, li{
    line-height: 1.5;
}
main {
    padding: 20px;
}
#about h1{
    margin: 0;
}
#role{
    margin-top: 0;
    text-align: center;
}
.contact-info {
    text-align: center;
}

nav a img{
    width: 45px;
    height: 45px;
    padding: 0;
    margin: 0;
}
.social-media{
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
    margin: 5px 10px 2px;
}
.social-media a:nth-last-child(1){
    margin-left: 10px;
}
.year-location {
    display: none;
}
#education p{
    text-align: center;
}
.wrapper{
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 10px ;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(3, 1, 97, 0.13);
}
a{
    color: #5A0001;
}
#education a{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(251, 255, 0, 0.377);
    text-decoration: none;
    text-align: center;
    color: black;
    align-self: center;
    width: 150px;
    margin-bottom: 5px;
}
#education ul{
    display: none;
}
#education .open{
    display: block;
    transition: 5s;
}
.wrapper button{
    padding:5px;
    border: none;
    background-color: transparent;
    text-decoration:underline;
    color: #5A0001;
}
iframe{
    width: 90%;
}
.play-video{
    width: 90%;
    padding: 70%;
}
#projects div{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* visibility: hidden; */
    /* transition: visibility 2s; */
}
/* #projects .visible{
    visibility: visible;
} */
#projects div{
    text-align: center;
    margin-bottom: 40px;
}
#projects div h3{
    margin-bottom: 5px;
}
i{
    margin-top: 0;
}
#projects div p{
    text-align: left;
}
#experience{
    display: none;
}
#skills .images{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    align-items: center;
    justify-items: center;
}
#skills .images img{
    width: 70px;
}
footer{
    background-color: #5A0001;
    padding: 10px 20px;
}
footer p{
    margin: 0;
    text-align: center;
    color: #ACBDBA;
}
#about, #projects, #education{
    padding-bottom: 40px;
}
#projects, #education, #skills{
    padding-top: 40px;
}
